.item {
    /* background-color: rgba(0, 0, 0, 0.153); */
    /* padding: 10px; */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 250px;
    position: relative;
    overflow: hidden;
}


.item .text {
    background-color: #f4f4f4;
    width: 100%;
}

.item .img {
    position: relative;
    overflow: hidden;
    opacity: .8;
    transition: .3s;
    height: 100%;
    /* width: 200px; */

}

.item .img img {
    transition: .3s;
}

.item .img:hover img {
    transform: rotate(-1deg) scale(1.07);
}

.item .view-item {
    position: absolute;
    bottom: -120px;
    background-color: #242629;
    /* background-color: #1362c9; */
    width: 100%;
    padding: .5rem 0;
    text-transform: uppercase;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    transition: .3s;
    cursor: pointer;
    z-index: 1;
}

.item .view-item img {
    width: 2rem;
    margin-top: 0px;
}

.item .view-item h5 {
    margin-bottom: -3px;
}

.item:hover .view-item {
    bottom: 0;
}

.item:hover .img {
    opacity: 1;
}

.item .view-item:hover {
    background-color: black;
}

/* .item .img::before {
    content: "";
    position: absolute;
    width:60px;
    height: 100%;
    right: 0;
    background-color: rgba(255, 0, 0, 0.321);
    z-index: 1;
    filter: blur(5px);
    border-radius: 50%;

    transition: .3s;
    opacity: 0;
}
.item:hover .img::before{
    opacity: 1;
} */



.item .add-to-cart {
    position: absolute;
    top: 20px;
    background-color: white;
    border-radius: 50%;
    cursor: pointer;
    height: 38px;
    width: 38px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #ddd;
    z-index: 1;

    right: 0;
    opacity: 0;
    transition: .3s;

}

.item .add-to-cart:hover {
    background-color: black;
}

.item .add-to-cart:hover svg {
    fill: white;
}

.item:hover .add-to-cart {
    right: 20px;
    opacity: 1;

}

.item .add-to-cart svg {
    transition: .3s;
}








.animation-text {
    position: absolute;
    left: 50%;
    transform: translate(-50%, 50%);
    background-color: #ff5b5b;
    padding: 10px 20px;
    color: white;
    border-radius: 10px 0;
    transition: .3s;
    bottom: -50px;
    opacity: 0;
    /* bottom: 50%; */
    width: fit-content
}

.animation-text.show {
    bottom: 50%;
    opacity: 1;
}









/* .products .item .icons {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 50%;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
} */