.navbar {
    position: sticky;
    left: 0;
    top: 0;
    z-index: 2;
    background-color: white;

}

.navbar-nav {
    gap: .5em;
}

.nav-link {
    font-size: 1.1em;
    font-weight: bold;
    color: black !important;
    text-transform: uppercase;
}
.nav-link:hover{
    color: #ff5b5b!important;
}
.navbar-light .navbar-nav .nav-link {
    padding: unset;
    margin-left: .85em;
}

.icons>img,
.icons>div img {
    cursor: pointer;
}

.dropdown-menu {
    background-color: white;
    -webkit-box-shadow: 0px 0px 24px -12px rgba(222, 222, 222, 1);
    -moz-box-shadow: 0px 0px 24px -12px rgba(222, 222, 222, 1);
    box-shadow: 0px 0px 24px -12px rgba(222, 222, 222, 1);
    border-radius: 0;
    margin-top: 30px;
    min-width: 251px;
    position: absolute !important;
    border: none !important;
}

@media (max-width:992px) {
    .dropdown-menu {
        background-color: #f4f4f4;
        position: static!important;

    }
}


.dropdown-menu::after {
    content: "";
    position: absolute;
    border: 8px solid black;
    border-color: transparent transparent rgb(255, 255, 255) transparent;
    /* background-color: aqua; */
    left: 40px;
    top: -16px;
}

.dropdown-menu[data-bs-popper] {
    margin-top: .8rem;
}

.dropdown-item {
    text-transform: uppercase;
    /* font-size: .9em; */
    font-weight: 500;
}

.dropdown-item:hover {
    background-color: black;
    color: white;
}

.disabled-item{
    width: 100%;
    padding: .25rem 1rem;
    clear: both;
    font-weight: 400;
    /* color: #212529; */
    /* text-align: inherit; */
    /* text-decoration: none; */
    /* white-space: nowrap; */
    background-color: red;
    border: 0;
    padding: 0;

}