.search-items {
    display: flex;
    flex-direction: column;
    justify-content: start;
}

.search-items .items {
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    justify-content: center;
    align-items: center;

}

.search-items .items .item {

    padding: unset;
    display: unset;
    flex-direction: unset;
    justify-content: unset;
    align-items: unset;
    height: unset;
    position: relative;
    overflow: unset;
    
    display: flex;
    flex-direction: column;
    
    height: 300px;
    /* background-color: red; */
    /* width: 300px; */

}




.search-items .items .item .img{
    flex-shrink: 1;
    
}

.search-items .items .item .text{
    flex-grow: 1;
    min-height: 80px;
}